certifi==2026.2.25
charset-normalizer==3.4.4
idna==3.11
lxml==6.0.2
markdown-it-py==4.0.0
mdurl==0.1.2
prompt_toolkit==3.0.52
Pygments==2.19.2
questionary==2.1.1
requests==2.32.5
rich==14.3.3
tabulate==0.9.0
tenacity==9.1.4
tqdm==4.67.3
urllib3==2.6.3
wcwidth==0.6.0
fpdf2==2.8.7
